body {
  font-family: Avenir-Light, Calibri, HelveticaNeue-Light, Helvetica-Light, Helvetica, Arial, sans-serif;
  /* max-width: 992px; */
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: {color:Content Background};
}

h1,h2,h3,h4,h5,h6 {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-family: Avenir-Heavy, "Calibri Bold", HelveticaNeue-Medium, Helvetica-Bold, Arial-Bold, sans-serif;
}

p, blockquote, ul, ol {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: {color:Body Text};
}

blockquote p {
  font-size: 1em;
}

strong {
  font-family: Avenir-Heavy, "Calibri Bold", HelveticaNeue-Medium, Helvetica-Bold, Arial-Bold, sans-serif;
}

/* PAGE HEADER */

body>header {
	color: #aaa;
  padding-top: 35px;
  padding-bottom: 25px;

}

body>header div.container {
  max-width: 530px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

body>header .logo {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

body>header ul {
  margin: 0;
  padding: 0;
}

body>header li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

body>header li:first-child {
  margin-left: 0px;
}

body>header li:last-child {
  margin-left: 0px;
}

body>header h1 {
  margin: 0;
  padding: 0;
}

body>header h1 a {
}

body>header h1 a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav-icon {
  }
}

body>header .tagline {
  display: none;
}

@media (min-width: 768px) {
  body>header .tagline {
  display: block;
  text-transform: uppercase;
  }
}

body>header .portrait {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 96px;
  height: 96px;
}

body>header .blog-description {
  max-width: 400px;
  margin-top: 12px;
  color: {color:Header Text};
  font-size: 0.9em;

}

body>header .search {

}

@media (min-width: 768px) {
	body>header .search {
		text-align: left;
		margin-left: 100px;
	}
}

body>header .blog-description a {
  color: {color:Header Link};
}

body>header .social-links a {
  color: {color:Header Social};
  text-decoration: none;
}

body>header .social-links li {
  margin-left: 1px;
  margin-right: 1px;
}

@media (min-width: 768px) {
  body>header div.container {
    max-width: 100%;
  width: 740px;
    padding-left: 0px;
    padding-right: 0px;
  }
  body>header .portrait {
  float: left;
  margin-right: 30px
  }
  body>header .logo {
  max-width: 740px;
  }
  body>header .logo>h1 {
  padding-top: 42px;
  padding-bottom: 12px;
  text-align: left;
  float: left;
  }
  body>header .blog-description {
  height: 96px;
  padding-top: 18px;
  text-align: right;
  float: right;
  width: 350px;
  }

  body>header .social-links {
    clear: both;
    float: right;
    text-align: right;
  }

  body>header .social-links li:last-child {
    margin-right: 0px;
  }
}

/* PAGE FOOTER */

body>footer {
  max-width: 530px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8em;
  color: #888;
}

body>footer .copyright {
  font-size: 0.8em;
}

body>footer ul {
  margin: 0;
  padding: 0;
}

body>footer li {
  list-style: none;
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  text-transform: uppercase;
}

body>footer li .nav-icon {

}

body>footer .colophon {
  font-size: 0.8em;
}

.adblock {
  padding: 10px;
  margin-top: 18px;
  margin-bottom: 24px;
  font-size: 0.8em;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

a.ad {
  color: #999;
}

a.ad:hover {
  color: #666;
  text-decoration: none;
}

.adblock img {
  margin-bottom: 8px;
}


/* ALL POSTS */

article.post {
  margin-top: 60px;
  margin-bottom: 90px;
}


article.post>header h1 {
/*   text-align: center; */
  text-transform: uppercase;
  font-size: 1.4em;
  margin-bottom: 0px;
  margin-top: 0px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}


article.post>header .meta {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}


article.post h2,
article.post h3,
article.post h4 {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

article.post>p {
  font-size: 1.1em;
}


article.post pre {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

article.post>footer {
  text-align: center;
  max-width: 530px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 0.8em;
}

.post-footer-meta ul {
  margin-left: 0;
  margin-right: 0;
  list-style: none;
  padding-left: 0;
}

.post-footer-meta li {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
}

.post-footer-meta li:first-child {
  margin-left: 0px;
}
.post-footer-meta li:last-child {
  margin-right: 0px;
}

@media (min-width: 768px) {
  .post-footer-date {
  text-align: left;
  }
  .post-footer-meta {
  text-align: right;
  }
}


/* TEXT POST */

article.text .body {
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}

article.post.text>header  {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  article.post.text>header h1 {
  text-align: left;
  }
}


article.post.text>p, article.post.text>blockquote {

}
article.post.text>p strong {

}


article.post.text>p>img {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

article.post.text>p.img-holder img {
  max-width: 400px;
}

/* LINK POSTS */

article.post.link>header {
  margin-bottom: 8px;
}


artcile.post.link>header {
  margin-bottom: 0px;
}

article.post.link>header>h1 {
  text-align: left;
  font-size: 16px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

article.post.link>header>h1 i {
  float: right;
  margin-left: 18px;
}

article.post.link {
  color: #888;
}

article.post img {
  display: block;
  margin: 0 auto;
}

article.post .body li {
  margin-top: 10px;
  margin-bottom: 10px;
}


/* PHOTO POSTS */

.photo-holder, .img-holder  {
  max-width: 740px;
  margin-left: -65px;
  margin-right: -65px;
}

.photo-holder img.img-responsive {
	max-height: 740px;
}

@media (min-width: 640px) {
  .photo-holder, .img-holder {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  }
}


@media (min-width: 768px) {
  .photo-holder {
  margin-right: auto;
  margin-left: auto;
  }
}

.photo-caption, .video-caption {
  margin-top: 16px;
  font-size: 1.1em;
}

/* PHOTOSET POSTS */

article.post.photoset>header {

}

.photoset-holder {
  margin-left: -50px;
  margin-right: -50px;

  margin-top: 16px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .photoset-holder {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  }

}


/* ANSWER POSTS */

article.post>header h1.q {
  text-align: left;
  text-transform: none;
  font-size: 1.5em;
  margin-top: 0px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  line-height: 1.2em;
}

/* VIDEO POSTS */


.video-holder  {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}

.video-holder iframe,
.video-holder object,
.video-holder embed {
  width: 100%;

}

/* AUDIO POSTS */


.audio-holder  {
	max-width: 530px;
	margin-left: auto;
	margin-right: auto;
}

.audio-holder iframe,
.audio-holder object,
.audio-holder embed {
	width: 100%;

}


/* QUOTE POSTS */

.quote-short, .quote-medium, .quote-long, .quote-source {
  text-align: left;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.quote-source {
  text-align: right;
}

.quote-short {
  font-size: 1.5em;
}

.quote-medium {
  font-size: 1.3em;
}

.quote-long {
  font-size: 1.2em;
}
