<footer>
  <p>
    Made with <i class="fa fa-heart"></i> in <a href="http://www.berlin.de/en/">Berlin</a><br>
    Hosted on <a href="http://github.com/duncan/duncan.github.io"><i class="fa fa-github"></i> GitHub</a><br>
    ©2014 James Duncan Davidson
    <!-- James Duncan Davidson<br /> -->
<!--    Photographer, sometimes for <a href="http://ted.com/">TED</a>; Software Developer, currently for <a href="http://6wunderkinder.com/">6Wunderkinder</a><br />
    duncan@jdd.io -->
  </p>
</footer>

<!--
<div class="footer">
  <div class="contact">
    <p>
      James Duncan Davidson<br />
      Photographer, sometimes for <a href="http://ted.com/">TED</a>; Software Developer, currently for <a href="http://6wunderkinder.com/">6Wunderkinder</a><br />
      duncan@jdd.io
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="http://github.com/duncan/">github.com/duncan</a><br>
      <a href="http://twitter.com/duncan/">twitter.com/duncan</a><br>
      <a href="http://keybase.io/duncan">keybase.io/duncan</a>
    </p>
  </div>
  <div class="rss">

    <a href="http://feeds.feedburner.com/tom-preston-werner">
      <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
    </a>

  </div>
</div>  -->
