<header>
  <div class="container">

    <div class="logo">
      <a href="/"><img class="portrait img-circle" src="/images/duncan.jpg" width="100" height="100"></a>
      <h1><a href="/">James Duncan Davidson</a></h1>
    </div>
  </div>
</header>

<!--

	{block:IfShowNavigation}
  <ul class="page-links">
  	{block:HasPages}
  			{block:Pages}
  			<li>
  					<a href="{URL}">{Label}</a>
  			</li>
  			{/block:Pages}
  	{/block:HasPages}
  </ul>

  {/block:IfShowNavigation}

  <ul class="social-links">
    {block:IfContactURL}
      <li><a href="{text:Contact URL}"><i class="nav-icon fa fa-comments fa-fw fa-lg"></i></a></li>
    {/block:IfContactURL}
    {block:IfTwitterName}
      <li><a href="http://twitter.com/{text:Twitter Name}"><i class="nav-icon fa fa-twitter fa-fw fa-lg"></i></a></li>
    {/block:IfTwitterName}
    {block:IfFacebookID}
<li><a href="http://facebook.com/{text:Facebook ID}"><i class="nav-icon fa fa-facebook-square fa-fw fa-lg"></i></a></li>
{/block:IfFacebookID}
{block:IfGooglePlusID}
<li><a href="http://plus.google.com/{text:Google Plus ID}?rel=author"><i class="nav-icon fa fa-google-plus-square fa-fw fa-lg"></i></a></li>
{/block:IfGooglePlusID}
  </ul>

-->
